@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

:root {
  --clr-1: #0ff0fc;
  --clr-2: #bc13fe;
  --clr-3: #8a2be2;
  --clr-4: #ff3131;
  --clr-5: #ff5e00;
  --clr-6: #000000;
  --clr-7: #232346;
  --gradient-angle: 0deg;
  --ff-primary: "Varela Round", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: var(--ff-primary);
  background-color: rgb(20, 20, 30);
}

main {
  position: relative;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(20,20, 80, 0.5);
  border-radius: 0.5rem;
  backdrop-filter: blur(20px);
  color: white;
  width: 60%; /* set width to a percentage of parent */
  min-height: 60vh; /* set a minimum height */
}

main::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 10px solid;
  border-radius: 0.5rem;
  border-image: conic-gradient(
      from var(--gradient-angle),
      var(--clr-1),
      var(--clr-2),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3),
      var(--clr-2),
      var(--clr-1)
    )
    1;
  filter: blur(5px);
  z-index: -1;
}

.form-group,
#promptInput,
.button,
.labelBox {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 3px solid rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
  color: white;
}

.form-group {
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
}

#promptInput {
  height: auto;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  resize: none;
  line-height: 1.5;
}

#promptInput:focus {
  outline: none;
}

.button {
  background-color: white transparent;
  padding: 10px 10px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 50%;
  color: white;
  border-radius: 10px;
  transition: 0.66s ease-in-out;
  margin: 20px auto;
  font-weight: bold;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: var(--clr-7);
  transition: 0.66s ease-in-out;
}
